/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

body {
  color: #757575;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

@media (max-width: 767px) {
  body.modal-open {
    overflow: hidden;
  }
}

@media (min-width: 1200px) {
  body {
    padding-top: 80px;
  }
}

@media (min-width: 768px) {
  body {
    padding-top: 65px;
  }
}

@media (max-width: 767px) {
  body {
    padding-top: 76px;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.conteiner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

@media (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-top: 0;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}

@media (max-width: 1199px) {
  .section__title {
    font-size: 28px;
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.appeal {
  margin-bottom: 20px;
  display: block;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .appeal {
    text-align: center;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .flex {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .relative {
    position: relative;
  }
}

@media (min-width: 768px) {
  .wrap {
    flex-wrap: wrap;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: #757575;
}

.button {
  font-family: inherit;
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  letter-spacing: 0.06em;
  border-color: transparent;
  cursor: pointer;
  outline: #2196f3;
}

.button--primary {
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
}

.button--secondary {
  min-width: 73px;
  padding: 6px 22px;
  border-color: transparent;
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  transition: color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--secondary:hover, .button--secondary:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
}

.header__contact {
  display: flex;
  margin-left: auto;
  align-items: center;
}

@media (max-width: 767px) {
  .header__contact {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__contact {
    flex-direction: column;
    align-self: center;
    align-items: flex-start;
  }
}

@media (min-width: 1200px) {
  .header__contact-item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__contact-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.header__contact-link {
  display: flex;
  align-items: center;
  color: #757575;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1200px) {
  .header__contact-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media (min-width: 768px) {
  .header__contact-link {
    line-height: 1.16;
  }
}

.header__contact-link:hover, .header__contact-link:focus {
  color: #2196f3;
}

.header__contact-icon {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contact-link:hover .header__contact-icon,
.header__contact-link:focus .header__contact-icon {
  fill: #2196f3;
}

.header__contact-icon--envelope {
  width: 16px;
  height: 12px;
}

.header__contact-icon--smartphone {
  width: 10px;
  height: 16px;
}

.mobile-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu__icon-close {
  display: none;
}

.mobile-menu__button.is-open .mobile-menu__icon-close {
  display: block;
}

.mobile-menu__button.is-open .mobile-menu__icon-menu {
  display: none;
}

.mobile-menu__button {
  padding: 0;
  display: inline-block;
  border: none;
  background: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__button:hover, .mobile-menu__button:focus {
  fill: #2196f3;
}

@media (min-width: 768px) {
  .mobile-menu__button {
    display: none;
  }
}

.mobile-menu__conteiner {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 60px;
  text-align: center;
  border-top: 1px solid #ececec;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.mobile-menu__conteiner.is-open {
  display: block;
}

.mobile-menu__list {
  margin-bottom: 60px;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu__link {
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #2196f3;
}

.mobile-menu__link--current {
  color: #2196f3;
  position: relative;
}

.mobile-menu__link--current::after {
  position: absolute;
  top: 100%;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  display: inline-block;
}

.mobile-menu__contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.14;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__contact-link:hover, .mobile-menu__contact-link:focus {
  color: #2196f3;
}

.mobile-menu__contact-item:not(:last-child) {
  margin-bottom: 16px;
}

.mobile-menu__contact-icon {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__contact-link:hover .mobile-menu__contact-icon,
.mobile-menu__contact-link:focus .mobile-menu__contact-icon {
  fill: #2196f3;
}

.mobile-menu__contact-icon--envelope {
  width: 16px;
  height: 12px;
}

.mobile-menu__contact-icon--smartphone {
  width: 10px;
  height: 16px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  border: 1px solid #000000;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile/hero-img@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 1199px) {
  .hero {
    height: 400px;
  }
}

@media (min-width: 1200px) {
  .hero {
    height: 600px;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero .box {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile/hero-img@2x.jpg);
  }
}

@media (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tablet/hero@x1.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero .box {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tablet/hero@x2.jpg);
  }
}

@media (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/desktop/hero-1600@1x.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero .box {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/desktop/hero-3200@2x.jpg);
  }
}

.hero__title {
  margin: auto;
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
    max-width: 360px;
  }
}

@media (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

@media (min-width: 1200px) {
  .advantages {
    padding-bottom: 0;
  }
}

.advantages__list {
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .advantages__item {
    width: calc((100% - 30px) / 2);
  }
}

@media (min-width: 1200px) {
  .advantages__item {
    width: calc((100% - 90px) / 4);
  }
}

@media (min-width: 1200px) {
  .advantages__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 767px) {
  .advantages__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages__item:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

.advantages__item::before {
  content: "";
  margin-bottom: 30px;
  height: 120px;
  display: block;
  background: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.advantages__item--antena::before {
  background-image: url(../img/svg/antenna.svg);
}

.advantages__item--clock::before {
  background-image: url(../img/svg/clock.svg);
}

.advantages__item--vector::before {
  background-image: url(../img/svg/vector.svg);
}

.advantages__item--astronaut::before {
  background-image: url(../img/svg/astronaut.svg);
}

.advantages__item-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
}

@media (max-width: 767px) {
  .advantages__item-title {
    text-align: center;
  }
}

.advantages__item-text {
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
  line-height: 1.71;
}

@media (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__item:not(:last-child) {
  margin-right: 30px;
  width: calc((100% - 60px) / 3);
}

.work__item-title {
  margin: 0;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.work__absolute {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
  font-size: 16px;
  line-height: 1.19;
}

.team__member {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .team__member {
    width: calc((100% - 30px) / 2);
  }
}

@media (min-width: 1200px) {
  .team__member {
    width: calc((100% - 90px) / 4);
  }
}

@media (min-width: 768px) {
  .team__member:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__member:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .team__member:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .team__member:not(:last-child) {
    margin-right: 30px;
  }
}

.team__text {
  padding-top: 30px;
  text-align: center;
}

@media (max-width: 1199px) {
  .team__text {
    padding-bottom: 24px;
  }
}

@media (min-width: 1200px) {
  .team__text {
    padding-bottom: 30px;
  }
}

.team__member-name {
  margin-top: 0;
  color: #212121;
  font-weight: 500;
}

.team__member-position {
  color: #757575;
  margin-bottom: 0;
  margin-top: 0;
}

.clients__list {
  display: flex;
}

@media (max-width: 1199px) {
  .clients__list {
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .clients__list {
    margin: -15px;
  }
}

.clients__item {
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .clients__item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }
}

@media (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
}

@media (max-width: 767px) {
  .clients__item:nth-child(odd) {
    margin-right: 30px;
  }
}

@media (max-width: 767px) {
  .clients__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

@media (min-width: 1200px) {
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid;
  border-color: #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid;
  border-color: #2196f3;
}

.clients__icon {
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: #2196f3;
}

.footer {
  background-color: #2f303a;
  line-height: 1.71;
}

.footer__content {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (max-width: 767px) {
  .footer__content {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__content {
    padding-left: 76px;
    padding-right: 76px;
  }
}

@media (min-width: 1200px) {
  .footer__content {
    display: flex;
    align-items: baseline;
  }
}

@media (min-width: 768px) {
  .flex-tablet {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .flex-tablet {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__address {
    margin-right: 165px;
  }
}

.footer__contact-item:not(:last-child) {
  margin-bottom: 9px;
}

@media (max-width: 767px) {
  .footer__contact-item:last-child {
    margin-bottom: 60px;
  }
}

.footer__contact-link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer__post-address {
  margin-top: 0;
  margin-bottom: 9px;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}

@media (max-width: 767px) {
  .join {
    margin-bottom: 60px;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .join {
    margin-left: 70px;
  }
}

.join__social-list {
  display: flex;
}

@media (max-width: 767px) {
  .join__social-list {
    justify-content: center;
  }
}

.join__social-item {
  width: 44px;
  height: 44px;
  display: block;
}

.join__social-item:not(:last-child) {
  margin-right: 10px;
}

.join__social-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join__social-link:hover, .join__social-link:focus {
  background: #2196f3;
}

.join__social-link::before {
  content: "";
  display: block;
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  background-position: center;
}

.join__social-link--instagram::before {
  background-image: url(../img/svg/instagram.svg);
}

.join__social-link--twitter::before {
  background-image: url(../img/svg/twitter.svg);
}

.join__social-link--facebook::before {
  background-image: url(../img/svg/facebook.svg);
}

.join__social-link--linkedin::before {
  background-image: url(../img/svg/linkedin.svg);
}

@media (min-width: 768px) {
  .subscription-form {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscription-form {
    flex-direction: column;
    width: 570px;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .subscription-form {
    margin-left: 93px;
  }
}

.subscription-form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.subscription-form__input {
  height: 50px;
  padding: 15px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

@media (max-width: 767px) {
  .subscription-form__input {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .subscription-form__input {
    width: 358px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscription-form__input {
    margin-bottom: 20px;
  }
}

@media (min-width: 1200px) {
  .subscription-form__input {
    margin-right: 12px;
  }
}

.subscription-form .subscription-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription-form .button--primary {
  display: flex;
  align-items: center;
  width: 200px;
}

@media (max-width: 1199px) {
  .subscription-form .button--primary {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .subscription-form .button--primary {
    align-self: center;
  }
}

@media (min-width: 1200px) {
  .subscription-form .button--primary {
    align-self: flex-end;
  }
}

.button__icon {
  margin-left: 10px;
  fill: #ffffff;
}

.selector {
  display: flex;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .selector {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .selector {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
}

.selector__item:not(:last-child) {
  margin-right: 8px;
}

@media (max-width: 767px) {
  .selector__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 15px;
  }
}

.card {
  margin-bottom: 30px;
  overflow: hidden;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1200px) {
  .card {
    width: calc((100% - 60px) / 3);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card {
    width: calc((100% - 30px) / 2);
  }
}

.card:hover, .card:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(173, 167, 167, 0.2);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card:nth-child(odd) {
    margin-right: 30px;
  }
}

@media (min-width: 1200px) {
  .card:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}

.card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.card__relative {
  position: relative;
  overflow: hidden;
}

.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .card__overlay {
  opacity: 1;
  transform: translateY(0%);
}

.card__hover-text {
  margin: 0;
  font-size: 16px;
  line-height: 1.56;
  font-weight: 400;
  color: #ffffff;
}

@media (min-width: 480px) {
  .card__hover-text {
    font-size: 18px;
  }
}

.card__text-content {
  padding: 20px 24px;
  font-size: 16px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.card__title {
  color: #212121;
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card__text {
  margin-top: 0;
  margin-bottom: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 767px) {
  .backdrop {
    padding-top: 94px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 768px) {
  .backdrop {
    padding-top: 208px;
  }
}

@media (min-width: 1200px) {
  .backdrop {
    padding-top: 221px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

.modal__close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal__close-icon {
  width: 18px;
  height: 18px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button:hover .modal__close-icon {
  fill: #2196f3;
}

.form__title {
  display: inline-block;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  color: #212121;
}

@media (max-width: 1199px) {
  .form__title {
    line-height: 1.5;
    text-align: center;
  }
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form__field {
  position: relative;
  margin-bottom: 10px;
}

.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form__input {
  width: 100%;
  height: 40px;
  padding-left: 35px;
  padding-right: 35px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.form__fieldset .form__input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus + .form__icon {
  fill: #2196f3;
}

.form__input--textarea {
  padding: 12px 16px;
  height: 120px;
  resize: none;
}

.form__checkbox-field {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.form__checkbox-label {
  line-height: 1.71;
  font-size: 12px;
  line-height: 1.16;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .form__checkbox-label {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .form__checkbox-label {
    font-size: 14px;
    line-height: inherit;
  }
}

.form__checkbox-check {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  background-image: url(../img/svg/checkbox.svg);
}

.form__input-checkbox:checked + .form__checkbox-check {
  background-image: url(../img/svg/icon-check.svg);
}

.form__agreement {
  color: #2196f3;
}

.form__button {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: #212121;
}

@media (min-width: 1200px) {
  .logo {
    font-size: 26px;
    margin-right: 93px;
  }
}

.logo--accent {
  color: #2196f3;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  color: #2196f3;
  font-style: normal;
  margin-right: 0;
}

@media (max-width: 767px) {
  .footer__logo {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .page-nav__logo {
    display: none;
  }
}

.footer__logo--accent {
  color: #ffffff;
}

@media (max-width: 767px) {
  .page-nav__list {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-nav__list {
    margin-left: 88px;
  }
}

.page-nav {
  align-items: center;
}

.page-nav__item:not(:last-child) {
  margin-right: 50px;
}

.page-nav__item--current {
  position: relative;
}

.page-nav__item--current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  display: inline-block;
}

@media (min-width: 768px) {
  .page-nav__item--current::after {
    bottom: -1px;
  }
}

@media (min-width: 1200px) {
  .page-nav__item--current::after {
    bottom: -8px;
  }
}

.page-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-nav__link:hover, .page-nav__link:focus {
  color: #2196f3;
}

.page-nav__link--current {
  color: #2196f3;
}

.social-list {
  display: flex;
  margin-top: 16px;
  justify-content: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #757575;
}

.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.social-list__icon {
  width: 20px;
  height: 20px;
}
/*# sourceMappingURL=main.css.map */