.advantages {
	@include for-size(desktop) {
		padding-bottom: 0;
	}
}
.advantages__list {
	flex-wrap: wrap;
}
.advantages__item {
	@include for-size(tablet) {
		width: calc((100% - 30px) / 2);
	}

	@include for-size(desktop) {
		width: calc((100% - 90px) / 4);
	}
}
.advantages__item:not(:last-child) {
	@include for-size(desktop) {
		margin-right: 30px;
	}
	@include for-size(mobile-only) {
		margin-bottom: 30px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	.advantages__item:nth-child(odd) {
		margin-right: 30px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	.advantages__item:not(:nth-last-child(-n + 2)) {
		margin-bottom: 30px;
	}
}

.advantages__item::before {
	content: "";
	margin-bottom: 30px;
	height: 120px;

	display: block;

	background: $secondary-bg-color;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 4px;
}

.advantages__item--antena::before {
	background-image: url(../img/svg/antenna.svg);
}

.advantages__item--clock::before {
	background-image: url(../img/svg/clock.svg);
}

.advantages__item--vector::before {
	background-image: url(../img/svg/vector.svg);
}

.advantages__item--astronaut::before {
	background-image: url(../img/svg/astronaut.svg);
}

.advantages__item-title {
	margin-top: 0;
	margin-bottom: 10px;

	color: $title-text-color;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	text-align: left;

	@include for-size(mobile-only) {
		text-align: center;
	}
}

.advantages__item-text {
	margin-top: 0;
	margin-bottom: 0;

	color: $primary-text-color;
	line-height: 1.71;
}
