.clients__list {
	display: flex;

	@include for-size(mobile-tablet-only) {
		flex-wrap: wrap;
	}
	@include for-size(tablet) {
		margin: -15px;
	}
}

.clients__item {
	box-sizing: border-box;

	@include for-size(mobile-only) {
		width: calc((100% - 30px) / 2);
	}
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		width: calc((100% - 90px) / 3);
		margin: 15px;
	}

	@include for-size(desktop) {
		width: 170px;
	}
}
.clients__item:nth-child(odd) {
	@include for-size(mobile-only) {
		margin-right: 30px;
	}
}

.clients__item:not(:nth-last-child(-n + 2)) {
	@include for-size(mobile-only) {
		margin-bottom: 30px;
	}
}

.clients__item:nth-last-child(-n + 3) {
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		margin-bottom: 0px;
	}
}

.clients__item:not(:last-child) {
	@include for-size(desktop) {
		margin-right: 30px;
	}
}

.clients__link {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90px;

	border: 1px solid;
	border-color: #afb1b8;
	border-radius: 4px;

	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		border: 1px solid;
		border-color: #2196f3;
	}
}

.clients__icon {
	fill: $primary-text-color;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

	.clients__link:hover &,
	.clients__link:focus & {
		fill: $accent-text-color;
	}
}
