.selector {
	display: flex;

	margin-bottom: 50px;

	@include for-size(tablet) {
		justify-content: center;
		margin-bottom: 30px;
	}
	@include for-size(mobile-only) {
		flex-wrap: wrap;
		margin-bottom: 40px;
	}
}

.selector__item:not(:last-child) {
	margin-right: 8px;
}

.selector__item:not(:nth-last-child(-n + 2)) {
	@include for-size(mobile-only) {
		margin-bottom: 15px;
	}
}
