.section-advantage {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .advantage {
    display: flex;
    flex-wrap: wrap;
  }
  
  .advantage__item {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
  }
  
  .advantage__item:nth-child(4n) {
    margin-right: 0;
  }
  
  .advantage__item::before {
    display: block;
    content: '';
    width: 270px;
    height: 120px;
    margin-top: 0;
    margin-bottom: 30px;
  
    background-size: contain;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $secondary-background-color;
    border-radius: 4px;
  }
  
  .advantage__item:nth-child(1)::before {
    background-image: url(../img/antenna.svg);
  }
  
  .advantage__item:nth-child(2)::before {
    background-image: url(../img/clock.svg);
  }
  
  .advantage__item:nth-child(3)::before {
    background-image: url(../img/diagram.svg);
  }
  
  .advantage__item:nth-child(4)::before {
    background-image: url(../img/astronaut.svg);
  }
  
  .advantage__title {
    margin-top: 0;
    margin-bottom: 10px;
  
    color: $title-text-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
  }

  
.advantage__paragraph {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
  }
  