$primary-text-color: #757575;
$title-text-color: #212121;
$accent-text-color: #2196f3;
$white-text-color: #ffffff;
$primary-font-size: 14px;

$primary-bg-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$accent-bg-color: #2f303a;

$secondary-text-color-button: #212121;
$secondary-bgc-button: #f5f4fa;
$primary-text-color-button: #ffffff;
$primary-bgc-button: #2196f3;
